{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}
<!-- Start about Area -->
<section class="section-gap">
	<div class="row d-flex justify-content-center">
		<div class="menu-content pb-40 col-lg-8">
			<div class="title text-center">
				<h1 class="mb-10">Intro</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="about-heading col-lg-6 green-text">
				<h2 class="pb-30 green-text">We PLAN <br>
					You Travel</h2>
				<p>
					<strong>She Travels Pakistan</strong> the proud pioneer of female focused travel & tours service providers to & from Pakistan, established in 2014 with a dream to make solo travelling for women possible, by empowering them and opening
					new doors to endless possibilities, providing them a safe comfortable and friendly environment to within Pakistan.
				</p>
				<br>
				<p>
					Recognizing the need to liberate women and setting the standards for trust, authenticity and flexibility <strong>She Travels Pakistan</strong> has expanded its services not only catering to women but to families, solo travelers,
					children, groups and people belonging to all age groups.
				</p>
				<br>
				<p>
					Opening windows to breathtaking landscapes, cultures and diversity of Pakistan and beyond <strong>She Travels Pakistan</strong> is the definition of evolution in modern day travelling.
				</p>
			</div>
			<div class="col-lg-6">
				<img src="{% static 'img/about-test.jpg' %}" class="about-image" alt="">
			</div>
		</div>
	</div>
</section>

<section class="section-gap">
	<div class="row d-flex justify-content-center">
		<div class="menu-content pb-40 col-lg-8">
			<div class="title text-center">
				<h1 class="mb-10">Vision</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="about-heading col-lg-6 green-text">
				<h2 class="pb-30 green-text">We PLAN <br>
					You Travel</h2>
				<p>
					<strong>She Travels Pakistan</strong> is futuristic and wants to give travelers a one of kind experience by indulging their senses to take in the sight, sound and taste of nature and its bounties, making sure it is safe, secure and hits
					home. The core values of this female oriented travelling company are to expose local and international travelers to a hassle free and stress reliving experience that they will cherish for years to come.
				</p>
				<br>
				<p>
					It has a variety of options from planning a holiday to adventures and even volunteering and much more. A customized travelling package can be made according to the requirements of its clients, making its clients wishes always a priority
					we make sure that travelling alone or with peers and family is not problematic anymore.
				</p>
			</div>
			<div class="col-lg-6">
				<img src="{% static 'img/about-test.jpg' %}" class="about-image" alt="">
			</div>
		</div>
	</div>
</section>

<section class="section-gap">
	<div class="row d-flex justify-content-center">
		<div class="menu-content pb-40 col-lg-8">
			<div class="title text-center">
				<h1 class="mb-10">Mission</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="about-heading col-lg-6 green-text">
				<h2 class="pb-30 green-text">We Bring Together People<br>
					Who Love To Travel</h2>
				<p>
					Our mission is to bring together people who love to travel by their common interest and passion for exploration and adventure, and take you on a trip to destinations around the globe that will take your breath away because our
					uniqueness lies in our diversity.
				</p>
				<br>
				<p>
					We will take you on a journey that just doesn’t focus on your pocket but allows you to meet amazing people along the way, we aim to break stereotypes and inspire the young generation and old alike to expand their horizons by realizing
					that travel is food for the soul.
				</p>
			</div>
			<div class="col-lg-6">
				<img src="{% static 'img/about-test.jpg' %}" class="about-image" alt="">
			</div>
		</div>
	</div>
</section>

{% comment %} <section class="section-gap info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-40 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Intro</h1>
				</div>
			</div>
		</div>
		<div class="single-info row mt-40">
			<div class="col-lg-6 col-md-12 no-padding info-rigth">
				<div class="about-height info-content green-text">
					<h2 class="pb-30 green-text">We PLAN <br>
						You Travel</h2>
					<p>
						<strong>She Travels Pakistan</strong> the proud pioneer of female focused travel & tours service providers to & from Pakistan, established in 2014 with a dream to make solo travelling for women possible, by empowering them and opening
						new doors to endless possibilities, providing them a safe comfortable and friendly environment to within Pakistan.
					</p>
					<br>
					<p>
						Recognizing the need to liberate women and setting the standards for trust, authenticity and flexibility <strong>She Travels Pakistan</strong> has expanded its services not only catering to women but to families, solo travelers,
						children, groups and people belonging to all age groups.
					</p>
					<br>
					<p>
						Opening windows to breathtaking landscapes, cultures and diversity of Pakistan and beyond <strong>She Travels Pakistan</strong> is the definition of evolution in modern day travelling.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 no-padding info-left">
				<div class="info-thumb">
					<img src="{% static 'img/about-test.jpg' %}" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-gap info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-40 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Our Vision</h1>
				</div>
			</div>
		</div>
		<div class="single-info row mt-40">
			<div class="col-lg-6 col-md-12 no-padding info-rigth">
				<div class="about-height info-content green-text">
					<h2 class="pb-30 green-text">We PLAN <br>
						You Travel</h2>
					<p>
						<strong>She Travels Pakistan</strong> is futuristic and wants to give travelers a one of kind experience by indulging their senses to take in the sight, sound and taste of nature and its bounties, making sure it is safe, secure and hits
						home. The core values of this female oriented travelling company are to expose local and international travelers to a hassle free and stress reliving experience that they will cherish for years to come.
					</p>
					<br>
					<p>
						It has a variety of options from planning a holiday to adventures and even volunteering and much more. A customized travelling package can be made according to the requirements of its clients, making its clients wishes always a priority
						we make sure that travelling alone or with peers and family is not problematic anymore.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 no-padding info-left">
				<div class="info-thumb">
					<img src="{% static 'img/about-img.jpg' %}" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Start about Area -->
<section class="section-gap info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-40 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Our Mission</h1>
				</div>
			</div>
		</div>
		<div class="single-info row mt-40">
			<div class="col-lg-6 col-md-12 no-padding info-rigth">
				<div class="about-height info-content green-text">
					<h2 class="pb-30 green-text">We Bring Together People<br>
						Who Love To Travel</h2>
					<p>
						Our mission is to bring together people who love to travel by their common interest and passion for exploration and adventure, and take you on a trip to destinations around the globe that will take your breath away because our
						uniqueness lies in our diversity.
					</p>
					<br>
					<p>
						We will take you on a journey that just doesn’t focus on your pocket but allows you to meet amazing people along the way, we aim to break stereotypes and inspire the young generation and old alike to expand their horizons by realizing
						that travel is food for the soul.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 no-padding info-left">
				<div class="info-thumb">
					<img src="{% static 'img/about-img.jpg' %}" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</section>{% endcomment %}


<section class="gallery-area" id="gallery">

	<div class="row d-flex justify-content-center">
		<div class="menu-content pb-40 col-lg-8">
			<div class="title text-center">
				<h1 class="mb-10">Our Team</h1>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row no-padding">
			<div class="active-gallery">
				{% for team_member in team_members %}
				<div class="box15">
					<img src="{{ MEDIA_URL }}/{{team_member.image}}" alt="">
					<div class="box-content">
						<h3 class="title">{{ team_member }}</h3>
						<ul class="icon">
							<li>{{ team_member.designation }}</li>
						</ul>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>


<section class="section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-40 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Testimonials</h1>
				</div>
			</div>
		</div>
		<div class="carousel slide testimonials" data-ride="carousel" data-interval="5000" data-pause="hover">
			<div class="carousel-inner title text-center">
				<div class="carousel-item active">
					<h2 class="testimonials text-center">{{comments.first.comment}}</h2>
					<img class="testimonial-image" src="{{MEDIA_URL}}/{{comments.first.image}}" alt="{{comments.first}}-image">
					<strong><em>{{comments.first}}</em></strong>
				</div>
				{% for comment in comments %}
				<div class="carousel-item">
					<h2 class="testimonials">{{comment.comment}}</h2>
					<img class="testimonial-image" src="{{MEDIA_URL}}/{{comment.image}}" alt="{{comment}}-picture">
					<strong><em>{{comment}}</em></strong>
				</div>
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
	</div>
</section>

{% endblock bodyblock %}
