{% extends 'base.html' %}
{% block bodyblock %}

    <section class="section-gap">
      <div class="container">
	  {% if object_list %}
		{% for blog in object_list %}
			<div class="section-top-border">
				<a href="{% url 'STP:blog' pk=blog.pk %}"><h3 class="mb-30">{{ blog }}</h3></a>
				<div class="row">
					<div class="col-md-3">
						<a href="{% url 'STP:blog' pk=blog.pk %}"><img src="{{MEDIA_URL}}/{{blog.image}}" alt="image" class="img-fluid"></a>
					</div>
					<div class="col-md-9 mt-sm-20">
						<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
					</div>
				</div>
			</div>
			{% endfor %}
		{% else %}
			<h1>No blogs Available</h1>
		{% endif %}
      </div>
    </section>
{% endblock bodyblock %}
