<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

  <link rel="stylesheet" href="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\css\linearicons.css" type="text/css">
  <link rel="stylesheet" href="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\css\font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\css\bootstrap.css" type="text/css">
  <link rel="stylesheet" href="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\css\magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\css\owl.carousel.css" type="text/css">
  <link rel="stylesheet" href="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\css\main.css">
</head>

<body>



  <section>
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="mb-10">Pricing</h1>
      <p>Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
      <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
          <div class="box21">
            <img src="Slider 2.jpg" alt="">
            <div class="box-content">
              <h4 class="title">HUNZA Trip</h4>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
              <button class="btn btn-primary" type="button" name="button">Get Qoute</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box21">
            <img src="Slider 3.jpg" alt="">
            <div class="box-content">
              <h4 class="title">Kristiana</h4>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
              <a class="read-more" href="#">read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box21">
            <img src="Slider 2.jpg" alt="">
            <div class="box-content">
              <h4 class="title">Kristiana</h4>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
              <a class="read-more" href="#">read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="mb-10">Pricing</h1>
      <p>Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
      <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
          <div class="box21">
            <img src="Slider 2.jpg" alt="">
            <div class="box-content">
              <h4 class="title">willimson</h4>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
              <a class="read-more" href="#">read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box21">
            <img src="Slider 3.jpg" alt="">
            <div class="box-content">
              <h4 class="title">Kristiana</h4>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
              <a class="read-more" href="#">read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box21">
            <img src="Slider 2.jpg" alt="">
            <div class="box-content">
              <h4 class="title">Kristiana</h4>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
              <a class="read-more" href="#">read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <script src="js/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\js\vendor\bootstrap.min.js"></script>
  <script src="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\js\jquery.ajaxchimp.min.js"></script>
  <script src="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\js\jquery.magnific-popup.min.js"></script>
  <script src="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\js\owl.carousel.min.js"></script>
  <script src="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\js\jquery.sticky.js"></script>
  <script src="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\js\slick.js"></script>
  <script src="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\js\jquery.counterup.min.js"></script>
  <script src="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\js\waypoints.min.js"></script>
  <script src="C:\Users\Hassan Shakeel\Desktop\Web\SheTravelsPakistan\static\js\main.js"></script>
</body>

</html>
